{
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 110,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "useTabs": true,
        "tabWidth": 2,
        "bracketSpacing": false
      }
    }
  ]
}
